<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://cms.prod.nypr.digital/images/64767/fill-1200x650/);">
  <div class="container">
    <h1>Film Eyeballs</h1>
    <%= link_to "Make A New List", new_list_path, class: 'btn btn-primary mt-2' %>
  </div>
</div>
<div class="container">
  <div class="cards mt-3">
      <% @lists.each do |list| %>
        <div class="card-category" style= "background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://i.pinimg.com/originals/2c/86/f8/2c86f889ee87e9d13dc81f1a342b9170.jpg') %>)">
           <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
  </div>
</div>
