<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://cms.prod.nypr.digital/images/64767/fill-1200x650/);">
  <div class="container">
    <h1>Film Eyeballs</h1>
    <%= link_to "Make A New List", new_list_path, class: 'btn btn-primary mt-2' %>
  </div>
</div>
<div class="container">
  <div class="cards mt-3">
      <% @lists.each do |list| %>
        <div class="card-category" <%= cl_image_tag @list.photo.key, width: 400, height: 300, crop: :fill if @list.photo.attached? %>>
           <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
  </div>
</div>
